*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.note{
    width: 350px;
    height: 350px;
    background-color: rgb(255, 115, 215);
    font-size: 2em;
    overflow-wrap: break-word;
    overflow-y: scroll;
    outline: none;
    border: none;
    padding: 10px;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    background-color: rgba(253, 202, 135, 0.842);
    /* border: 2px solid red; */
}

.main{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
}

#txtA{
    background-color: rgba(0, 140, 255, 0.797);
}

.note::-webkit-scrollbar{
    display: none;
}

.hidden{
    display: none;
}

#allNote{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.singleNote{
    background-color: rgba(19, 248, 229, 0.988);
    border-radius: 10px;
}

h1{
    font-size: 3em;
}

.editBtn , .removeBtn , #btn{
    border: none;
    padding: 10px;
    font-size: 1.5em;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.date{
    font-size: 1.5em;
    margin: 10px;
}