*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.note{
    width: 350px;
    height: 350px;
    background-color: rgb(223, 241, 55);
    font-size: 2em;
    overflow-wrap: break-word;
    overflow-y: scroll;
    outline: none;
    border: none;
    padding: 10px;
}

#txtA{
    background-color: rgba(0, 140, 255, 0.797);
}

.note::-webkit-scrollbar{
    display: none;
}

.hidden{
    display: none;
}

#allNote{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.singleNote{
    background-color: rgba(19, 248, 229, 0.988);
    border-radius: 10px;
}

.editBtn , .removeBtn{
    border: none;
    padding: 10px;
    font-size: 1.5em;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.date{
    font-size: 1.5em;
    margin: 10px;
}